.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    text-align: center;
}

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.cmp-datacardlist.info-channel.block.columns-1-cols {
    margin: 20px 40px 20px 40px;
    padding: 0 20px;
    background: aliceblue !important;
}

.info-channel picture img {
    width: 50%;
    text-align: center;
    padding: 0 20px 0 20px;
}

.columns.cmp-datacardlist.info-channel > div > div{
    text-align: center;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    height: 100%;
}

.columns.cmp-cardinfo.carousel {
    width: 100%;
    padding: 20px;
    margin: 20px;
    background: aliceblue;
    border-radius: 20px 20px 20px 20px;
}

h1#products-and-services {
    padding-left: 10%;
    margin-bottom: 0;
}

.contact-link p {
    display: inline-block;
    text-align: center;
    margin-top: 0;
}

.contact-link img {
    width: 45px;
    height: 45px;
}

.contact-link > div {
    align-items: baseline;
}

h2#contact-us {
    float: left;
}

.contact-link p:nth-child(2) {
    position: relative;
    margin-bottom: 23px;
    font-size: 27px;
    font-weight: 600;
    top: -15px;
    font-family: sans-serif;
}

.contact-link p:last-child {
    font-size: 18px;
}

.contact-link > div > div {
    margin-bottom: 30px;
}

.columns.cmp-singlecard.cmp-points.block.columns-1-cols div{
    text-align: left;
}

main .hero.cmp-points {
    position: relative;
    padding: 32px;
    min-height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    background: aliceblue;
}

.cmp-points u {
    color: rgb(0, 114, 216);
    line-height: 27px;
}

.cmp-points a:any-link{
      text-decoration: underline !important;
}

.cmp-points li {
    margin-bottom: 16px;
}

.custom-cards .button-container {
    margin-bottom: 0;
}

.cards.custom-cards.block ul li {
    background: #e5f5ff;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
}

.custom-cards .button-container:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.default-content-wrapper {
    background: #0072d8;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.cards.custom-cards > ul > li img {
    width: 214px;
    height: 214px;
}

.cards.custom-cards.block div {
    text-align: center;
}

.custom-cards strong {
    font-size: 24px;
}

.custom-cards p {
    font-size: 18px;
}

.cards.custom-cards.block {
    padding: 0 100px 100px 100px;
}

.cards.custom-cards.block {
    background: #0072d8;
}

h1#explore-investment-products-and-services {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 40px;
}
