.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    text-align: center;
}

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.cmp-datacardlist.info-channel.block.columns-1-cols {
    margin: 20px 40px 20px 40px;
    padding: 0 20px;
    background: aliceblue !important;
}

.info-channel picture img {
    width: 50%;
    text-align: center;
    padding: 0 20px 0 20px;
}

.columns.cmp-datacardlist.info-channel > div > div{
    text-align: center;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    height: 100%;
}

.columns.cmp-cardinfo.carousel {
    width: 100%;
    padding: 20px;
    margin: 20px;
    background: aliceblue;
    border-radius: 20px 20px 20px 20px;
}

h1#products-and-services {
    padding-left: 10%;
    margin-bottom: 0;
}

.contact-link p {
    display: inline-block;
    text-align: center;
    margin-top: 0;
}

.contact-link img {
    width: 56px;
    height: 56px;
}

.contact-link > div {
    align-items: baseline;
}

h2#contact-us-1 {
    float: left;
}
