.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    text-align: center;
}

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.cmp-datacardlist.info-channel.block.columns-1-cols {
    margin: 20px 40px 20px 40px;
    padding: 0 20px;
}

.info-channel picture img {
    width: 50%;
    text-align: center;
    padding: 0 20px 0 20px;
}

.columns.info-channel > div > div{
    text-align: center;
}
