main .carousel-container {
  padding: 0;
}

a.button {
    background: #0072d8;
    border-radius: 10px;
}

main .carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  max-width: 1680px;
  margin: auto;
}

main .carousel picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
  
main .carousel > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  min-height: 580px;
  align-items: flex-start;
  display: flex;
}

main .carousel div.carousel-text .button {
  margin: 0;
}

main .carousel::-webkit-scrollbar {
    display: none;
  }

main .carousel-wrapper {
  max-width: unset;
}

main .carousel-wrapper .carousel-buttons {
  text-align: center;
  margin-top: 0;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}

main .carousel-buttons button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--highlight-background-color);
}

main .carousel-buttons button.selected {
  background-color: var(--link-color);
}

main .carousel-image img {
    float: right;
}

.hero.block {
    display: none;
}

.carousel-text h2 {
    color: #2E2E2E;
    font-size: 60px;
}

.carousel-text {
    width: 50%;
}

.carousel-wrapper{
  padding: 75px 75px 0 75px;
}

.carousel-text h2:not(:first-child) {
    font-size: 20px;
    font-weight: 300;
    color: #4b4b4b;
}

.quickflash-card .carousel-image, .quickflash-card .carousel-text {
    padding: 20px;
}

.quickflash-card .carousel-image, .quickflash-card .carousel-text {
    padding: 20px 30px 20px 30px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin-right: 29px;
    height: 200px;
}

.quickinfo-card .carousel-image, .quickinfo-card .carousel-text {
    padding: 20px 30px 20px 30px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin-right: 29px;
    height: 260px;
}

.carousel.quickflash-card.block div {
    width: 50%;
}

.carousel-wrapper {
    background: transparent linear-gradient(180deg, #F6F6F6 0%, #E5F5FF 100%);
}

.quickflash-card .carousel-image, .quickflash-card .carousel-text{
  background: #fff;
}

.quickflash-card div div {
    background: #fff;
    padding: 20px 30px 20px 30px;
}

.carousel.quickflash-card.block div {
    width: 50%;
    margin: 20px;
}

.columns.cmp-datacardlist.info-channel > div > div{
    background: #e5f5ff !important;
}

.carousel-columns.quickinfo-card.block img {
    width: 200px;
    height: 200px;
}

.carousel-columns.quickinfo-card.block {
    width: 100%;
    display: flex;
    text-align: center;
}

.columns.cmp-singlecard.block.columns-1-cols {
    padding: 75px 75px 0 75px;
    background: #e5f5ff
}

h2#loan-calculator {
    text-align: left;
}

.cmp-singlecard div {
    background: #fff;
    padding: 0 50px 0 50px;
}

.columns.cmp-singlecard.block.columns-1-cols {
    padding: 75px 75px 75px 75px;
    background: #e5f5ff;
}

.quickflash-card p:first-child {
    font-size: 24px;
    color: #2e2e2e;
    font-weight: 800;
    margin-bottom: 12px;
}

.quickflash-card p:last-child {
    font-size: 18px !important;
}

.carousel-image:hover, .carousel:text:hover {
    background: #0072d8
    color: #fff;
}

.carousel-text:hover p, .carousel-image:hover p {
    color: #fff;
}

.quickflash-card:hover .carousel-image, .quickflash-card:hover .carousel-text {
    background: #0072d8;
}

.quickflash-card:active .carousel-image, .quickflash-card:active .carousel-text {
    background: #0072d8;
}

.cmp-singlecard a.button {
    background: #0072d8;
    border-radius: 10px;
}

.custom-cards a{
  background: #0072d8;
  border-radius: 10px;
}

@media(max-width: 700px){
  .custom-cards a {
    font-size: 16px;
}
  
  .carousel-text {
    width: 100%;
}
  
.carousel-text h2, .carousel-image h2 {
    font-size: 32px;
}

.carousel-text h2:last-child, .carousel-image h2:last-child {
    font-size: 16px;
}

.cmp-singlecard div {
    background: #fff;
    padding: 0 10px 0 10px;
}

h2#loan-calculator {
   font-size: 18px;
}

.cmp-singlecard p {
   font-size: 18px;
}

.cmp-singlecard h2#loan-calculator {
    font-size: 24px;
}

.cmp-singlecard a.button {
    font-size: 18px;
}

h1#explore-investment-products-and-services {
    font-size: 40px;
}

.cmp-datacardlist p:last-child {
    font-size: 18px;
}

  .carousel.quickflash-card.block div {
    width: 80%;
}

  .carousel.quickflash-card.block div {
    width: 500px;
    margin: 10px;
    padding: 20px 20px 40px 20px;
}

 .cards.custom-cards.block {
    padding: 0 15px 65px 15px;
}
  .contact-link p {
    font-size: 16px;
}
  .contact-link p:nth-child(2){
    font-size: 16px;
}
}
