footer {
  padding: 2rem;
  background-color: #0072d8;
  color: #fff;
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;

.footer-block p {
    text-align: left;
    line-height: 35px;
}

.footer-block div div:first-child {
    width: 45%;
}

footer .footer-block {
    width: 100%;
    padding: 20px 0 0 20px;
    margin: auto;
}

.footer-block div div {
    text-align: left;
    line-height: 2rem;
}

.footer-block img {
    width: 100px;
    height: 50px;
}

  .columns.footer-block p {
    text-align: left;
    line-height: 2.5rem;
    font-size: 1rem;
}

  .columns.footer-block img {
    width: 75px;
    height: 30px;
}

.footer-block a {
    color: #fff;
}

  .columns.footer-block > div > div {
    flex: auto;
}

