footer {
  background-color: #0072d8;
  color: #fff;
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-block div div:first-child {
    width: 45%;
}

footer .footer-block {
    width: 100%;
    padding: 20px 0 0 20px;
    margin: auto;
}

.footer-block div div {
    text-align: left;
    line-height: 2rem;
}

.footer-block img {
     width: 75px;
    height: 30px;
}

  .columns.footer-block p {
    text-align: left;
    line-height: 2.5rem;
    font-size: 1rem;
}

.footer-block a {
    color: #fff;
}

.columns.footer-block > div > div {
    flex: auto !important;
}

.footer-blk {
    display: inline-flex;
}

  .semibold {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer-blk2 {
    font-size: 12px;
}

hr.separator {
    display: none;
}

.footer-section {
    justify-content: center;
    display: grid;
}

div#footer-end {
    background: #004ea8;
    padding: 16px 0;
}

.columns.footer-block div {
    padding-left: 40px;
}

.footer-blk a {
    background: none !important;
    color: #fff;
    text-decoration: none;
}

@media(max-width: 700px){
.semibold {
    font-size: 16px;
    padding: 10px 10px 5px 20px;
    font-weight: 600;
}

.footer-blk2 {
    font-size: 12px;
    padding: 10px 20px 10px 20px;
}
  
 hr.separator {
    margin-top: 10px;
    margin-bottom: 10px;
}
}
