footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;

.footer-block p {
    text-align: left;
    line-height: 35px;
}

.footer.block {
    max-width: 100%;
    padding: 0 20px 0 20px;
}

  .footer-block div div:first-child {
    width: 50%;
}
